nav {
    height: 10vh;
    background: #f9f8f8;
    .center {
        max-width: min(1160px, 90%);
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: inherit;
    }
    .right {
        .logo {
            font-size: 20px;
            font-weight: bold;
            letter-spacing: 0.4px;
        }
    }

    .left {
        ul {
            list-style: none;
            display: flex;
            align-items: center;
            li {
                margin: 0 20px;
                &:hover {
                    text-decoration: underline;
                    cursor: pointer;
                }
            }
        }
    }
}
